
@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
 
  
  @media (print), (prefers-reduced-motion: reduce) {
    .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }
  .dropdown-menu .profile-card-2{
    height: 500px; 
    width: 400px;
  }
  .dropdown-menu .profile{
    background-color: rgb(255, 0, 0); 
    color: white; 
  }
  .carousel-inner .slide1{
    background-image: url('pg1.jpg');
  }
  .carousel-inner .slide2{
    background-image: url('pg2.jpg');
  }
  .slide1 .display-4{
    padding-bottom: 2.5%;
  }
  .slide2 .display-4{
    padding-bottom: 5%;
  }
  .slide2 .display1{
    padding-bottom: 2.5%;
  }
  #aboutme .container > .display-4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(143, 141, 141); 
    text-align: center; 
    padding-top: 2%;
  }
    html {
    scroll-behavior: smooth;
  }
  

     .nav-pills > .nav-item > .active{
        background-color:darkorange !important;
        color: white !important;
      }
      .nav-pills > .nav-item :hover{
        background-color:darkorange !important;
        color: white !important;
    }

      .carousel-item {
        height: 100vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      
      
      .flip-card {
        background-color: transparent;
        width: 300px;
        height: 400px;
        perspective: 1000px;
        
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(-180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      
      }
       .display-7{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
      .flip-card-front {
        background-color: #bbb;
        color: black;
        
      }
      
      .flip-card-back {
        
      
        transform: rotateY(180deg);
      }
      .badge{
        background-color: orangered;
        
      }
      .f{
        color: orangered;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
      }
      .progress1 {
        width: 150px;
        height: 150px;
        background: none;
        position: relative;
      }
      
      .progress1::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 16px solid #eee;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .progress1>span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
      }
      
      .progress1 .progress-left {
        left: 0;
      }
      
      .progress1 .progressbar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 16px;
        border-style: solid;
        position: absolute;
        top: 0;
      }
      @keyframes pro-r{
        from{
          transform: rotate(0deg);
          
        }
        to{
          transform: rotate(180deg);
          
        }
      }
      @keyframes pro-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(140.4deg);
        }
      }
      @keyframes css-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(93.6deg);
        }
      }
      @keyframes js-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(79.2deg);
        }
      }
      @keyframes c-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(154.8deg);
        }
      }
      @keyframes ten-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(165.6deg);
        }
      }

      @keyframes tel-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(122.4deg);
        }
      }
      @keyframes bet-l{
        from{
          transform: rotate(0deg);
        }
        to{
          transform: rotate(158.76deg);
        }
      }

      .htgr{
        animation: pro-r 1s;
        animation-fill-mode: both;
        animation-delay: 0.6s;

      }
      
      .ht{
        animation: pro-r 1s;
        animation-fill-mode: both;
        
      }
      .pt{
        animation: pro-l 1s;
        animation-fill-mode: both;
        animation-delay: 1s;
      }
      .css-pt{
        animation: css-l 1s;
        animation-fill-mode: both;
        animation-delay: 1s;

      }
      .js-pt{
        animation: js-l 1s;
        animation-fill-mode: both;
        animation-delay: 1s;
      }
      .c-pt{
        animation: c-l 1s;
        animation-fill-mode: both;
        animation-delay: 1s;
      }
      .ten-pt{
        animation: ten-l 1s;
        animation-fill-mode: both;
        animation-delay: 1.6s;
        
      }
      .tel-pt{
        animation: tel-l 1s;
        animation-fill-mode: both;
        animation-delay: 1.6s;

      }
      .bet-pt{
        animation: bet-l 1s;
        animation-fill-mode: both;
        animation-delay: 1.6s;

      }
      .empty{
        color:whitesmoke !important;
      }
      .empty-flip{
        border-color: whitesmoke !important;
      }
      .progress1 .progress-left .progressbar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
        
      
      }
      
      .progress1 .progress-right {
        right: 0;
      }
      
      .progress1 .progress-right .progressbar {
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        transform: rotate(180deg);
        
        
      }
      


      .progress1 .progress-value {
        position: absolute;
        top: 0;
        left: 0;
      }
      
      
      
      .rounded-lg {
        border-radius: 16px;
      }
      
      .text-gray {
        color: #aaa;
      }
      
      div.h4 {
        line-height: 3rem;
      }
      .maps iframe{
           width: 100%;
           height: 500px;
         } 
         #contact{
       
        letter-spacing: 2px;
        }
      #contact a{
        color: #fff;
        text-decoration: none;
      }
       #author a{
        color: #fff;
        text-decoration: none;
          
      } 
         .bch{
          
          background:  rgb(224, 134, 24);
        
          float: left;
          box-shadow: 0 0 1px #ccc;
          -webkit-transition: all 0.5s ease-in-out;
          
          border: 0px;
          color: #fff;
          
      }
      /* Style all font awesome icons */
      .aa {
        padding: 15px;
        font-size: 30px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
      
      /* Add a hover effect if you want */
      .aa:hover {
        background-color: white;
        color: rgb(248, 174, 83);
        text-decoration: none;
      }
      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .w, .q,.e,.r  {
        background: rgb(248, 174, 83);
        color: white;
        margin: 0 15px 5px 0;
        
        
        border:  2px solid #fff;
      }
      #task-title{
        width: 100%;
        text-align: center;
        
    }
    #task-form .row input{
      text-align: center;

    }
    #addbtn{
      float: right;
    }
    textarea{
      resize: none;
    }
    .task-box{
      box-sizing: border-box;
      border: 3px solid darkorange;
      width: 100%;
      transition: transform 0.2s;
      
    }
    .task-box:hover{
      transform: scale(1.03);
      cursor: pointer;
    }
    .fa-bars, .fa-times{
      color: rgb(143, 141, 141) !important;
    }
    .fa-bars:hover, .fa-times:hover{
      color: black !important;
    }
    .task-title{
      text-align: center;
      margin: 10px;
      color: darkorange;
    }
    .btn{
      background-color: darkorange !important;
      border-color: darkorange !important;
      width: 150px;
      font-weight: 700;
      
    }
    .btn:hover{
      background-color: white !important ;
      border-color: darkorange !important;
      color: darkorange !important;
    }

    #exampleModalCenterTitle{
        text-align: center !important;
    }
    .spec{
       padding-left: 30% !important;
       height: 200px !important;
       overflow: hidden !important;
       background-position: center !important;
       background-repeat: no-repeat !important;
       background-size: cover !important;
       
    }
   
   .but{
     background-color: darkorange !important;
     border-color: white !important;
     width: 100%;
     text-align: center;


   }
   .but:hover{
     color: darkorange !important;
     background-color: white !important;
     border-color: darkorange !important;
   }
      .profile-card-2 .card-img-block{
        
          width: 100%;
          height: 200px;
          overflow: hidden;
          filter: blur(8px);
          -webkit-filter: blur(8px);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }
      .profile-card-2 .card-body{
          position:relative;
      
      }
      .profile-card-2 .profile {
        border-radius: 50%;
        position: absolute;
        top: -42px;
        left: 40%;
        
        border: 3px solid rgba(255, 255, 255, 1);
        font-size: 60px;
        width: 80px;
        text-align: center;
       
      }
      .profile-card-2 h3{
          font-weight:600;
          color: darkorange;
          text-align: center;
      }
      .profile-card-2 .card-text{
          font-weight:300;
          
          text-align: center;
        
      }
      .profile-card-2 .icon-block{
          text-align: center;
          padding-top: 20px;
          width:100%;
      }
      .profile-card-2 .icon-block a {
          text-decoration:none;
      }
      .profile-card-2 i {
        display: inline-block;
        background-color: darkorange;
          font-size: 24px;
          color: white;
          text-align: center;
          
          width: 45px;
          height: 45px;
          line-height: 45px;
          border-radius: 50%;
          margin:0 5px;
      }
      .profile-card-2 i:hover {
        background-color: white;
        color:darkorange;
        border: 1px solid darkorange;
      }
      
      
        
